.popUp{
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', 'Sans-serif';
  background: #F6F6F4; /* noch ans Farblayout anzupassen */
  padding: 10px;
  width: 370px;
  max-height: fit-content;
  border-radius: 5px;
  position: absolute;
}


   #animeIMG {
    align-content: center;
    float: inherit;
    width: 350px;
    height: 196.785px;
    border: 1px solid #F6F6F4;
 } 
 
 #realIMG {
    align-content: center;
    width: 350px;
    height: 196.785px;
    border: 1px solid #F6F6F4;
  
} 