.mapboxgl-popup-content{
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', 'Sans-serif';
  background: #FFFDFA; /* noch ans Farblayout anzupassen */
  padding: 20px;
  width: 350px;
  max-height: fit-content;
  border-radius: 5px;
  position: absolute;
}

   #animeIMG {
    align-content: center;
    float: inherit;
    width: 350px;
    height: 196.785px;
 
} 
  #realIMG {
    align-content: center;
    width: 350px;
    height: 196.785px;
  
} 
